<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pplip.domain.board.freeboard.persistence.dao.FreeBoardCommentDao">

    <select id="findAll" resultMap="retrieveMap">
        select
            fc.id as id,
            fc.content as content,
            p.nickname as authorNickName,
            fc.created_at as createdAt,
            fc.updated_at as updatedAt,
            p.id as profileId
        from free_comment fc
                 join user u on fc.author_id = u.id
                 join profile p on u.profile_id = p.id
        where fc.board_id = #{boardId} and fc.is_removed = false;
    </select>

    <resultMap id="retrieveMap" type="com.pplip.domain.board.freeboard.api.response.FreeBoardCommentResponse.Retrieve">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="authorNickName" column="authorNickName"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
        <association property="profileImage"
                     select="findProfileImageByProfileId"
                     column="profileId"
                     javaType="com.pplip.domain.file.api.response.FileResponse"/>
    </resultMap>

    <select id="findProfileImageByProfileId" resultType="com.pplip.domain.file.api.response.FileResponse">
        select id,
               saved_file_name as name,
               path,
               size
        from profile_image_property where profile_id = #{profileId}
    </select>

    <insert id="insert" parameterType="com.pplip.domain.board.freeboard.persistence.entity.FreeComment" useGeneratedKeys="true" keyProperty="id">
        insert into free_comment (board_id, author_id, content, is_removed, created_at, updated_at)
        values (#{boardId}, #{authorId}, #{content}, #{isRemoved}, #{createdAt}, #{updatedAt});
    </insert>

    <update id="update" parameterType="com.pplip.domain.board.freeboard.persistence.entity.FreeComment">
        update free_comment
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            updated_at = NOW()
        </set>
        where id = #{id};
    </update>

    <update id="delete">
        update free_comment
        set is_removed = true,
            updated_at = NOW()
        where id = #{id};
    </update>

</mapper>